<footer class="footer" role="contentinfo">
  <div>
    <button class="go_header">
      <a href="./index.html#header">
        <img
          src="./assets/images/ico-arrow.svg"
          alt="Back to top"
          title="Back to Top"
          aria-label="Back to top"
        />
      </a>
    </button>
  </div>
  <section class="footer_content">
    <nav class="menu_footer">
      <ul class="menu_footer_list">
        <li class="list-item">
          <a
            class="link_menu_footer"
            href="https://adalab.es/"
            target="_blank"
            title="Go to Articles"
            aria-label="Go to Articles"
          >
            Articles</a
          >
        </li>
        <li class="list-item">
          <a
            class="link_menu_footer"
            href="https://adalab.es/"
            target="_blank"
            title="Go to Books"
            aria-label="Go to Books"
          >
            Books</a
          >
        </li>
        <li class="list-item">
          <a
            class="link_menu_footer"
            href="https://adalab.es/"
            target="_blank"
            title="Go to Events"
            aria-label="Go to Events"
          >
            Events</a
          >
        </li>
        <li class="list-item">
          <a
            class="link_menu_footer"
            href="https://adalab.es/"
            target="_blank"
            title="Go to Reasons"
            aria-label="Go to Reasons"
          >
            Reasons</a
          >
        </li>
        <li class="list-item">
          <a
            class="link_menu_footer"
            href="https://adalab.es/"
            target="_blank"
            title="Go to Tips"
            aria-label="Go to Tips"
          >
            Tips</a
          >
        </li>
      </ul>
    </nav>
    <nav class="menu_social">
      <ul class="menu_social_list">
        <li class="list-item">
          <a
            class="link_menu_footer"
            href="https://adalab.es/"
            target="_blank"
            title="Go to Twitter"
            aria-label="Go to Twitter"
          >
            Twitter</a
          >
        </li>
        <li class="list-item">
          <a
            class="link_menu_footer"
            href="https://adalab.es/"
            target="_blank"
            title="Go to Instagram"
            aria-label="Go to Instagram"
          >
            Instagram</a
          >
        </li>
        <li class="list-item">
          <a
            class="link_menu_footer"
            href="https://adalab.es/"
            target="_blank"
            title="Go to Mastodon"
            aria-label="Go to Mastodon"
          >
            Mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <div class="copy_container">
      <small class="copy">&copy;2017</small>
      <small class="info"
        >we <span class="heart">&#10084;</span> components</small
      >
    </div>
  </section>
</footer>
