<header id="header" class="header" role="banner">
  <nav class="menu_container" role="navigation">
    <a href="https://adalab.es/" target="_blank" title="Menu" aria-label="Menu">
      <img
        class="menu_image"
        src="./assets/images/ico-menu.svg"
        alt="Menu"
        title="Menu"
      />
    </a>
  </nav>
  <div class="title_container">
    <h1 class="main_title">Anonymous proxy</h1>
    <p class="main_text">In hac habitasse platea dictumst</p>
  </div>
  <div class="scrolldown_container">
    <a class="link_purchase" href="./index.html#purchase">
      <img
        class="scroll_down"
        src="./assets/images/ico-scroll-down.svg"
        alt="Go to 3 Reasons To Purchase"
        title="Go to 3 Reasons To Purchase"
        aria-label="Go to 3 Reasons To Purchase"
      />
    </a>
  </div>
</header>
