<main class="main" role="main">
  <section class="looking_container">
    <h2 class="tips">Insomnia tips</h2>
    <article>
      <h2 class="looking_title">Looking through a window</h2>
      <p class="looking_text">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
    </article>
    <button class="btn_go">
      <a class="go_link" href="" alt="Go" title="Go">Go</a>
    </button>
  </section>
  <section class="reasons_container">
    <div class="reasons_title_container" id="purchase">
      <h2 class="reasons_title">3 Reasons to purchase</h2>
    </div>
    <div class="reasons">
      <article class="item1">
        <h3 class="subtitle_reasons">Ut sed metus</h3>
        <p class="text_articles_reasons">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </article>
      <article class="item2">
        <h3 class="subtitle_reasons">Curabitur ac erat</h3>
        <p class="text_articles_reasons">
          Mauris mattis urna quis lorem molestie.
        </p>
      </article>
      <article class="item3">
        <h3 class="subtitle_reasons">Morbi dictum</h3>
        <p class="text_articles_reasons">
          Aliquam in dolor et dolor tincidunt.
        </p>
      </article>
    </div>
    <div class="more_container">
      <a
        class="more_link"
        href=""
        alt="Go to more reasons"
        title="Go to more reasons"
        >More reasons</a
      >
    </div>
  </section>
</main>
